// Website

@import "variables";
@import "recipe";
@import "../../../node_modules/bootstrap/scss/bootstrap";


// Application

html, body {
  padding: 0;
  margin: 0;

  @media (prefers-color-scheme: dark) {
    background-color: $dark;
    color: $white;
  }
}

section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.jumbotron {
  background-color: transparent;

  #logo {
    width: 100%;
    height: auto;
  }
}

.card-link {
  width: auto;
  max-height: 16rem;

  &:hover {
    filter: brightness(50%);
    transition: 0.5s;
  }

  .card {  
    .card-img {
      width: 312px;
      height: 231px;
      object-fit: cover;
      filter: brightness(80%);
    }

    .card-img-overlay {
      .card-title {
        color: white;
      }
    }
  }
}