{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	| Home
{% endblock %}

{% block body %}
	<section>
		<div class="container my-5">
			<div class="row align-items-start">
				<div class="col">
					<div class="jumbotron text-center text-md-start">
						<div class="row align-items-center">
							<div class="col-12 col-md-6 order-1 order-md-0 mt-3 mt-md-0">
								<h1 class="display-4">Welcome</h1>
								<p class="lead">Welcome to Berlioz Cuistock</p>
								<hr class="my-4">
								<p>To start, you probably add recipes:</p>
								<p class="lead">
									<a role="button" class="btn btn-primary btn-lg" href={{path('fetchRecipes')}}>
										Add Recipes
									</a>
								</p>
							</div>
							<div class="col-6 mx-auto me-md-0 col-md-5 px-md-5 order-0 order-md-1">
								<img src="{{ asset('images/logo.svg') }}" id="logo" alt="Berlioz logo">
							</div>
						</div>
					</div>
				</div>
				{% for item in data %}
					<p>{{ item }}</p>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
